The porpuse of this notebook is to generate the code to obtain the dataset. In this case it is not extesive because we already have the .csv file. We will verify that we can read it without problems.

# Import Libraries

In [1]:
import pandas as pd
import os

# Read Data

In [3]:
FILE_PATH = os.path.join(os.pardir, 'data','raw','wines_SPA.csv')

# Verify that file exist
print(os.path.isfile(FILE_PATH))

True

In [4]:
data = pd.read_csv(FILE_PATH)
data.head(3)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0